*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('/media/Vid_gallery_Img/spacecowboy.jpg');
}

body {
	font-family: 'Poppins', sans-serif;
}
.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}
.navbar-inverse .navbar-brand {
	color: #fff;
	font-size: 40px;
	padding: 40px 15px;
	font-weight: 900;
}
.nav.navbar-nav.navbar-right {
	margin: 25px 0;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	text-transform: uppercase;
}
.banner {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
}
h1{
	align-self: center;
}
.description{
	width: auto;
	height: 50px;
	position: relative
}